# objective:sales prediction

given dataset has following attributes: 
 sales
 tv
 radio
 newspaper

  we need find sales based on tv,radio and newspaper

 target variable is sales and feature variables are tv,radio and newspaper

# import library

In [1]:
import pandas as pd

In [24]:
import numpy as np

# import data

In [25]:
sales=pd.read_csv("C:/Users/hi/Downloads/codsoft/advertising.csv")

# Describe Data

In [27]:
sales.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [28]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [29]:
sales.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

# Preprocessing Data

In [6]:
sales.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [7]:
sales.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

# Define Target Variable(y) and Feature variables(x)

In [8]:
y=sales["Sales"]

In [9]:
x=sales[['TV', 'Radio', 'Newspaper']]

# Train Test Split

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=2529)

In [12]:
x_train.shape,x_test.shape

((150, 3), (50, 3))

# Modelling

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
model=LinearRegression()

# Model Evaluation

In [15]:
model.fit(x_train,y_train)

LinearRegression()

## Prediction

In [16]:
y_pred=model.predict(x_test)

In [17]:
y_pred

array([21.97560568, 17.53100608,  6.06025029,  6.96640997, 12.64655306,
       22.78735589, 12.39773837, 10.6688726 , 13.6646163 , 14.29338663,
       14.93240542,  9.08150937, 18.22643812, 22.28367196, 21.25672006,
       20.28138509, 19.34727487, 13.42375677, 17.03626998, 20.9322422 ,
       12.1775626 , 19.49605844, 10.00272895, 16.322817  , 11.14567707,
       22.21114546,  5.41037501, 11.26434703, 15.79161705, 18.88352862,
       24.98212137, 15.48055983, 11.22678376, 20.68012529, 10.92042896,
       10.9322874 ,  6.12339212, 13.87328084, 18.38644648,  8.97084224,
       14.21491681, 16.04822606, 17.36453023, 19.68500327, 10.16473513,
        9.80676753, 23.50977544, 21.25982155, 21.27217599, 22.23690685])

## Accuracy Test

In [20]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [21]:
mean_absolute_percentage_error(y_test,y_pred)

0.09324725464816058

In [22]:
mean_absolute_error(y_test,y_pred)

1.1553323449021775

In [32]:
mean_squared_error(y_test,y_pred)

2.132732861562927

## Explanation

we have used LinearRegression model to predict sales based on tv,radio,news advertisement

success rate=100-09
             =91%